<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bqhx.yyb.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.bqhx.yyb.vo.UserVO" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />

        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="tel" property="tel" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="s_id" property="sId" jdbcType="VARCHAR" />
        <result column="d_id" property="dId" jdbcType="VARCHAR" />
        <result column="f_id" property="fId" jdbcType="VARCHAR" />
        <result column="y_id" property="yId" jdbcType="VARCHAR" />
        <result column="t_id" property="tId" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="ins_user" property="insUser" jdbcType="VARCHAR" />
        <result column="ins_date" property="insDate" jdbcType="VARCHAR" />
        <result column="upd_user" property="updUser" jdbcType="VARCHAR" />
        <result column="upd_date" property="updDate" jdbcType="VARCHAR" />
        
    </resultMap>

    <sql id="Base_Column_List" >
        user_id, password, name, tel, type, s_id, d_id, f_id, y_id, t_id, id_card, ins_user, ins_date, upd_user, upd_date
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM t_user
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM t_user
       WHERE user_id = #{userId}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId" parameterType="java.lang.String">
    	INSERT INTO t_user(user_id,name,password,tel)
    	values(#{userId},#{name},#{password},#{tel})
    </insert>
    
    <update id="updateUser" parameterType="java.lang.String">
    	UPDATE t_user
    	SET
    	<if test="name != null">name = #{name}</if>,
    	<if test="password != null">password = #{password}</if>,
    	<if test="tel != null">tel = #{tel}</if>
    	WHERE user_id = #{userId}
    </update>
    
    <delete id="deleteUserById" parameterType="java.lang.String">
    	DELETE FROM t_user
    	WHERE user_id = #{userId}
    </delete>
</mapper>